@import url('https://fonts.googleapis.com/css?family=Abel|Raleway|Raleway+Dot|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap');

.project_main{
    height: 100%;
    width: 100%;
    color: black;
    background-color:transparent;
}

.project_header{
    justify-content: center;
    /* font-family: 'Sulphur Point', sans-serif; */
    font-family: 'VT323', monospace;
}

.project_header h1{
    font-size: 50px;
}

.modal_close_icon_container{
    text-align: right;
    font-size: 20px;
}